/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.jumbotron h1, ul.nav{
	font-family: 'Arvo', courier, serif;
}

ul.nav{
	font-size: 13px;
}

#get-involved{
	background-color: #f5f5f5;
}

.jumbotron{

	text-align: center;
	background-image: url('../img/hero-image.jpg');
	color: #fff;
}

.jumbotron h1{
	margin:0 0 30px;
}

.jumbotron p{
	padding: 0 50px;
	margin-bottom: 30px;
	font-weight: 100;
}

.jumbotron .btn-lg{
	font-size: 26px;
}

.homepage{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.homepage h2, .homepage h3{
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
	color: #e74c3c;
}

.homepage h2{
	font-size: 30px;
}

.homepage p{
	font-weight: 300;
	font-size: 18px;
}

.homepage a:hover{
	color: #e74c3c;
	text-decoration: none;
	opacity: 0.5;
}

.homepage a{
	color: #e74c3c;
}

.homepage hr{
	border-color: #e74c3c;
	width: 160px;
	margin-top: 15px;
}

footer{
	background-color: #e74c3c;
	padding: 150px 0 30px 0;
}

/* RESPONSIVE STYLING */
@media (max-width: 1199px){
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}

@media (max-width: 991px){
	.jumbotron h1{
		font-size: 44px;
	}

	.jumbotron p{
		padding: 0 10px;
	}

	#get-involved .col-md-4{
		padding-top:20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px){
	.jumbotron h1{
		font-size: 24px;
	}

	.jumbotron p{
		font-size: 16px;
		padding: 0;
	}

	.jumbotron .btn-lg{
		font-size: 18px;
	}

	.homepage p{
		font-size: 16px;
	}

	footer img{
		width: 80%;
	}
}


