/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron h1, ul.nav{
	font-family: 'Arvo', courier, serif;
}

ul.nav{
	font-size: 13px;
}

.jumbotron{

	text-align: center;
	background-image: url('../img/hero-image.jpg');
	color: #fff;
}

.jumbotron h1{
	margin:0 0 30px;
}

.jumbotron p{
	padding: 0 50px;
	margin-bottom: 30px;
	font-weight: 100;
}

.jumbotron .btn-lg{
	font-size: 26px;
}

