/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron h1, ul.nav{
	font-family: 'Arvo', courier, serif;
}

ul.nav{
	font-size: 13px;
}

.jumbotron{
	text-align: center;
	color:;
}

.jumbotron .btn-lg{
	font-size: 36px;
}

